{% extends "base.html" %}

{% load i18n %}
{% load account_tags %}

{% block title %}{% trans "Password reset" %}{% endblock %}

{% user_display request.user as user_display %}

{% block content %}
    <div class="flex items-center justify-center min-h-screen bg-gray-100 py-12">
        <div  class="w-full max-w-md bg-white rounded-lg shadow-md p-8">
            <form method="POST" action="">
                <h1 class="text-3xl font-bold text-center text-gray-800 mb-6">{% trans "Password reset" %}</h1>
                <p class="bg-gray-100 text-gray-800 rounded-lg p-3">{% trans "Забыли пароль? Введите свой адрес электронной почты ниже, и мы отправим вам письмо, позволяющее сбросить его." %}</p>
                <fieldset class="row">
                    <div class="col-md-5">
                        {% csrf_token %}
                        {% for field in form %}
                            <div class="flex flex-col space-y-1 mt-4">
                                <label for="{{ field.id_for_label }}" class="text-sm font-medium text-gray-600">
                                    {{ field.label }}
                                    {% if field.field.required %}<span class="text-red-500">*</span>{% endif %}
                                </label>
                                {{ field }}
                                {% if field.errors %}
                                    <p class="text-sm text-red-500">{{ field.errors|join:", " }}</p>
                                {% endif %}
                            </div>
                        {% endfor %}
                        <button type="submit" 
                                class="w-full mt-6 px-6 py-2 text-white bg-sky-500 rounded-lg hover:bg-sky-600 focus:ring-2 focus:ring-sky-600 focus:ring-offset-2 focus:outline-none">
                            {% trans "Восстановить" %}
                        </button>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
    <p>{% blocktrans %}If you have any trouble resetting your password, contact us at <a href="mailto:{{ THEME_CONTACT_EMAIL }}">{{ THEME_CONTACT_EMAIL }}</a>.{% endblocktrans %}</p>
{% endblock %}

{% block extra_body %}
    <script>
        $("#id_email").focus();
    </script>
{% endblock %}