{% extends "base.html" %}

{% load i18n %}

{% block title %}{% trans "Установите новый пароль" %}{% endblock %}

{% block content %}
    <div class="flex items-center justify-center min-h-screen bg-gray-100 py-12">
        <div class="w-full max-w-md bg-white rounded-lg shadow-md p-8">
            <form method="POST" action="{% url "users:account_password_reset_token" uidb36=uidb36 token=token %}">
                <h1 class="text-3xl font-bold text-center text-gray-800 mb-6">{% trans "Установите новый пароль" %}</h1>
                <fieldset>
                    {% csrf_token %}
                    {% for field in form %}
                            <div class="flex flex-col space-y-1 mt-4">
                                <label for="{{ field.id_for_label }}" class="text-sm font-medium text-gray-600">
                                    {{ field.label }}
                                    {% if field.field.required %}<span class="text-red-500">*</span>{% endif %}
                                </label>
                                {{ field }}
                                {% if field.errors %}
                                    <p class="text-sm text-red-500">{{ field.errors|join:", " }}</p>
                                {% endif %}
                            </div>
                        {% endfor %}
                    <button type="submit" class="w-full mt-6 px-6 py-2 text-white bg-sky-500 rounded-lg hover:bg-sky-600 focus:ring-2 focus:ring-sky-600 focus:ring-offset-2 focus:outline-none">{% trans "Save" %}</button>
                </fieldset>
            </form>
        </div>
    </div>
{% endblock %}