{% load static %}
{% load i18n account_tags %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Stylized Email</title>
</head>
<body style="margin: 0; padding: 0; background-color: #deefff;">
  <!-- Основной контейнер -->
  <table width="100%" border="0" cellspacing="0" cellpadding="0" style="background-color: #deefff;">
    <tr>
      <td align="center" style="padding: 20px 0;">
        <table width="600" border="0" cellspacing="0" cellpadding="0" style="background-color: #ffffff; border: 1px solid #dddddd;">
          <!-- Заголовок -->
          <tr>
            <td align="center" style="font-family: Arial, sans-serif; background-color: #deefff; padding: 20px;">
              <a href="{{ site_url }}">
                <img height="128" src="{{ domain }}/static/image/TheatrLogoIn.png" alt="Logo" style="display: block;">
              </a>
            </td>
          </tr>
          <!-- Основной текст -->
          <tr>
            <td style="padding: 20px; font-family: Arial, sans-serif; font-size: 16px; line-height: 1.5; color: #555555;">
              <p style="font-size: 22px; text-align: center; margin: 0 0 20px;">Добро пожаловать в театр им. Луспекаева</p>
              <p style="text-align: center; margin: 0;">Подтвердите ваш email и начните пользоваться</p>
            </td>
          </tr>
          <!-- Кнопка -->
          <tr>
            <td align="center" style="padding: 20px;">
              <a href="{{ activate_url }}" style="display: inline-block; padding: 10px 20px; font-family: Arial, sans-serif; font-size: 16px; font-weight: bold; color: #ffffff; background-color: #3d9ef5; text-decoration: none; border-radius: 5px;">
                Подтвердить
              </a>
            </td>
          </tr>
          <!-- Нижний колонтитул -->
          <tr>
            <td align="center" style="padding: 10px; font-family: Arial, sans-serif; font-size: 12px; color: #aaaaaa;">
              © 2025 "Театр им. Луспекаева". Все права защищены.
            </td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
</body>
</html>


